form {
    margin-top: 6em;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 23em;
    left: 0;
    right: 0;
    margin: auto;
}



.info {
    border: solid 1px #00000080;
    text-indent: .5em;
}

#submit {
    background-color: var(--maroon);
    padding: 0 1em;
    font-weight: bolder;
    color: var(--white);
    border: none;
    /*margin: 1em 0;*/
    height: 2.5em;
}

#submit:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

input, button {
    margin: .3em 0;
    padding: .2em 0;
    height: 2em;
    border-radius: .1em;
}

.redLinks:hover {
    color: var(--hoverColor);
}

form span {
    text-align: center;
}

.redLinks {
    color: var(--maroon);
}