footer div {
    padding: .3em;
    text-align: center;
}

.moto {
    background-color: var(--maroon);
    padding: 1em;
}

.moto img {
    width: auto;
    height: 2em;
}

.contact {
    background-color: var(--darkGrey);
}

footer span div > * {
    margin: 0 .5em;
    padding: 0;
}

footer span div > * {
    display: inline;

                  }

footer span > div * {
    color: #ffffff70;

}

footer span, footer span a:hover {
    color: #fff;
}